{% extends 'base.html' %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}
<div>
    <h1>{{user.username}}</h1>

    {% if session['username'] == user.username %}
    <form action="/users/{{user.username}}/delete" method="POST">
        <button class="btn btn-danger btn-sm">Delete User</button>
    </form>
    {% endif %}


    <div class="mt-3">
        <p><b>Email:</b> {{user.email}}</p>
        <p><b>Name:</b> {{user.first_name}} {{user.last_name}}</p>
    </div>

</div>

<div>
    <h2 class="mt-5">{{user.username}}'s Feedback</h2>

    {% if session['username'] == user.username %}
    <form action="/users/{{user.username}}/feedback/add">
        <button class="btn btn-primary btn-sm">Add Feedback</button>
    </form>
    {% endif %}

</div>

{% for post in feedback %}
<div class="card text-dark bg-light mb-3 mt-4" style="max-width: 25rem;">
    <div class="card-header">Feedback</div>
        <div class="card-body">

        <h3 class="card-title">{{post.title}}</h3>
        <p class="card-text">{{post.content}}</p>
        
        <div class="row">
            <div class="col-2">
                {% if session['username'] == user.username %}
                <form action="/feedback/{{post.id}}/update">
                    <button class="btn btn-dark btn-sm">Edit</button>
                </form>
            </div>
            <div class="col-2">
                <form action="/feedback/{{post.id}}/delete" method="POST">
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
    {% endfor %}




    <!-- <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h4 class="card-title">Info card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div> -->

{% endblock %}