{% extends 'base.html' %}

{% block title %} Feedback {% endblock %}

{% block content %}
<div class="row">
    <h1>Feedback</h1>

    {% for post in feedback %}
    <div class="col-4">
    <div class="card bg-light mb-3">
        <div class="card-header"><a href="/users/{{post.username}}" class="text-decoration-none text-info">{{post.username}}</a> says:</div>
        <div class="card-body">

        <h3 class="card-title">{{post.title}}</h3>
        <p class="card-text">{{post.content}}</p>
        </div>
    </div>
</div>
{% endfor %}
</div>
  
{% endblock %}
